<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">
<!-- 
        <link rel="shortcut icon" href="img/favicon_1.ico"> -->

        <title>Fitness Evaluator</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="css/animate.css" rel="stylesheet">
<style> .highcharts-container {
        width:100% !important;
        height:100% !important;
    }</style>


        <!--Icon-fonts css-->
        <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!-- sweet alerts -->
        <link href="assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/helper.css" rel="stylesheet">
        <link href="css/style-responsive.css" rel="stylesheet" />


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
           <script src="js/respond.min.js"></script>
          <script src="https://code.angularjs.org/1.5.7/angular.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
        <![endif]-->

    </head>


    <body>

        <!-- Aside Start-->
        <div>
        <!-- Aside Ends-->
        <div class="logo" style="background-color: #ADD8E6; width: 14%;float: left">
                <a href="/" class="logo-expanded">
                    <img src="img/man.gif" alt="logo" style="margin-left: 45px; width: 80px; "></br>
                    <span class="nav-label" style="font-size: 18px; margin-left: 6px;">Fitness Evaluator</span>
                </a>
            </div>

        <!--Main Content Start -->
        <section class="content" style="width: 86%;">

            <!-- Header -->
            <header class="top-head container-fluid" style="background-color: #7FFFD4;height: 70px">

                <ul class="list-inline navbar-left top-menu top-right-menu">
                    <li class="has-submenu active"><a href="/"><i></i> <span class="nav-label">Dashboard</span></a>
                       <!--  <ul class="list-unstyled"> -->
                            <li class="has-submenu active"><a href="calories">Calories</a></li>
                            <li><a href="sleep">Sleeping Patterns</a></li>
                            <li><a href="activities">Activity</a></li>
                            <li><a href="heart">Heart</a></li>
                            <li><a href="food">Food</a></li>
                       <!--  </ul> -->
                    </li>
                </ul>


                <!-- Right navbar -->
                <ul class="list-inline navbar-right top-menu top-right-menu">
                    <!-- Notification -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge badge-sm up bg-pink count">3</span>
                        </a>
                        <ul class="dropdown-menu extended fadeInUp animated nicescroll" tabindex="5002">
                            <li class="noti-header">
                                <p>Notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="pull-left"><i class="fa fa-user-plus fa-2x text-info"></i></span>
                                    <span>New user registered<br><small class="text-muted">5 minutes ago</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="pull-left"><i class="fa fa-diamond fa-2x text-primary"></i></span>
                                    <span>Use animate.css<br><small class="text-muted">5 minutes ago</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="pull-left"><i class="fa fa-bell-o fa-2x text-danger"></i></span>
                                    <span>Send project demo files to client<br><small class="text-muted">1 hour ago</small></span>
                                </a>
                            </li>

                            <li>
                                <p><a href="#" class="text-right">See all notifications</a></p>
                            </li>
                        </ul>
                    </li>
                    <!-- /Notification -->

                    <!-- user login dropdown start-->
                    <li class="dropdown text-center">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="img/avatar-2.jpg" class="img-circle profile-img thumb-sm">
                            <span class="username"><%-name%> </span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu extended pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
                            <li><a href="profile"><i class="fa fa-briefcase"></i>Profile</a></li>
                            <li><a href="/emergencyContacts"><i class="fa fa-bell"></i> Emergency Contacts</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- End right navbar -->
            </header>
            <!-- Header Ends -->
</section>
</div>

            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid" style="color: grey">

                <div class="row">
                    <div style="width: 40%; float: left">
                    <div>
                        <div class="widget-panel widget-style-2 background-heart">
                            <i class="ion-heart"></i>
                            <h2 class="m-0 counter"><%-restingHeartRate.value.restingHeartRate-%></h2>
                            <div>Resting Heart Rate</div>
                        </div>
                    </div>
                    <div>
                        <div class="widget-panel widget-style-2 background-calorie">
                            <i class="ion-flame"></i>
                            <h2 class="m-0 counter"><%-activities.summary.caloriesOut-%></h2>
                            <div>Calories Burned</div>
                        </div>
                    </div>
                    <div>
                        <div class="widget-panel widget-style-2 background-steps">
                            <i class="ion-android-walk"></i>    
                            <h2 class="m-0 counter"><%-activities.summary.steps-%></h2>
                            <div>Steps</div>
                        </div>
                    </div>
                    <div>
                        <div class="widget-panel widget-style-2 background-bmi">
                            <i class="ion-calculator" aria-hidden="true"></i>            
                            <h2 class="m-0 counter"><%-bmi-%></h2>
                            <div>BMI</div>
                        </div>
                    </div>
                    </div>
                    <div style="width: 60%; float: right;">
                        <!-- <div id="steps" style="width: 385px; height: 280px; float: left;border-bottom: 1px solid black;"></div> -->
                        <div class="portlet-heading">
                            <h3 class="portlet-title text-dark text-uppercase">Activities for Today</h3>
                        </div>
                        <div id="distance" style="width: 385px; height: 280px; float: left;border-bottom: 1px solid black;"></div>
                        <div id="caloriesOut" style="width: 385px; height: 280px; float: left;border-bottom: 1px solid black;"></div>
                    </div>
                </div> <!-- end row -->
                <div class="row">

                <div>
                    <div class="portlet"><!-- /primary heading -->

                        <div id="sleep" style="width: 700px; height: 380px; float: left;border-bottom: 1px solid black;"></div>

                </div>
                <div>
                    <div class="portlet"><!-- /primary heading -->

                        <div id="stepsbar" style="width: 585px; height: 380px; float: left;border-bottom: 1px solid black;"></div>

                </div>  
                <!-- end porlet -->
                </div><!-- end col -->
                    <!--<div class="portlet">&lt;!&ndash; /primary heading &ndash;&gt;-->
                        
                </div> <!-- end row -->
                    <!--</div> &lt;!&ndash; end col &ndash;&gt;-->

                    <!--<div class="col-lg-4">-->

                    <!--</div>-->
                <!--</div> &lt;!&ndash; End row &ndash;&gt;-->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
            <footer class="footer">
                2017 © Fitness Evaluator
            </footer>
            <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.min.js"></script>
        <script src="js/pace.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="assets/chat/moment-2.2.1.js"></script>

        <!-- Counter-up -->
        <script src="js/waypoints.min.js" type="text/javascript"></script>
        <script src="js/jquery.counterup.min.js" type="text/javascript"></script>




        <!-- sweet alerts -->
        <script src="assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="assets/sweet-alert/sweet-alert.init.js"></script>

        <script src="js/jquery.app.js"></script>


        <!-- Todo -->
        <script src="js/jquery.todo.js"></script>

        <!--Chart resources-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <script src="js/Charts/guage-chart.js"></script>


        <!--chart for steps-->
        <script type="text/javascript">
        var chartSpeed = Highcharts.chart('steps', Highcharts.merge(gaugeOptions, {
        yAxis: {
        min: 0,
        max: <%-activities.goals.steps-%>,
        title: {
        text: 'No.Of Steps'
        }
        },

        credits: {
        enabled: false
        },

        series: [{
        name: 'Steps',
        data: [<%-activities.summary.steps-%>],
        dataLabels: {
        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || '#008000') + '">{y}</span><br/>' +
            '<span style="font-size:12px;color:silver">Steps</span></div>'
        },
        tooltip: {
//        valueSuffix: ' km/h'
        }
        }]

        }));
        console.log("Here: "+ <%-activities.summary.steps-%>)
        </script>

        <!--chart for distance-->
        <script type="text/javascript">
            var chartSpeed = Highcharts.chart('distance', Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: <%-activities.goals.distance-%>,
                    title: {
                        text: 'Distance'
                    }
                },

                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Distance',
                    data: [<%=activities.summary.distances[0].distance%>],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || '#008000') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">Miles</span></div>'
                    },
                    tooltip: {
//        valueSuffix: ' km/h'
                    }
                }]

            }));
            console.log("Here: "+ <%-activities.summary.steps-%>)
        </script>

        <!--chart for calories out-->
        <script type="text/javascript">
            var chartSpeed = Highcharts.chart('caloriesOut', Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: <%-activities.goals.caloriesOut-%>,
                    title: {
                        text: 'Calories Burned'
                    }
                },

                credits: {
                    enabled: false
                },

                series: [{
                    name: 'Calories Burned',
                    data: [<%-activities.summary.caloriesOut-%>],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || '#008000') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">Calories Burned</span></div>'
                    },
                    tooltip: {
//        valueSuffix: ' km/h'
                    }
                }]

            }));
        </script>

        <!--chart for sleep-->
        <script type="text/javascript">
            Highcharts.chart('sleep', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Hours of sleep/awake'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [ {
                        name: 'Minutes Asleep',
                        y: <%-sleep.sleep[0].minutesAsleep-%>
                    }, {
                        name: 'Minutes Awake',
                        y: <%-sleep.sleep[0].minutesAwake-%>
                    }]
                }]
            });
        </script>
        <script type="text/javascript">
            Highcharts.chart('stepsbar', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'bar'
                },
                title: {
                    text: 'Hours of sleep/awake'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [ {
                        name: 'Minutes Asleep',
                        y: <%-sleep.sleep[0].minutesAsleep-%>
                    }, {
                        name: 'Minutes Awake',
                        y: <%-sleep.sleep[0].minutesAwake-%>
                    }]
                }]
            });
        </script>
        <script type="text/javascript">
            /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>

    </body>
</html>
